<h1> {{ 'APP_TITLE' | translate }} </h1>

<button (click)="selectLanguage('zh-CN')">中文简体</button>
<button (click)="selectLanguage('zh-TW')">中文繁體</button>
<button (click)="selectLanguage('en-US')">English</button>